<%= form_with(scope: :search, url: root_path, method: :get, local: true, class: "form-horizontal") do |f| %>
  <%= f.label :act, "アーティスト名" %>
  <%= f.text_field :act, value: @search_params[:act], class: "form-control" %>
  <%= f.label :live_on, "公演日" %>
  <%= f.date_field :live_on_from, value: @search_params[:live_on_from], class: "form-control" %>
  <p>から</p>
  <%= f.date_field :live_on_to, value: @search_params[:live_on_to], class: "form-control" %>
  <%= f.label :area, "エリア" %>
  <%= f.select :area,
    ['キタ',
    'ミナミ',
    '天王寺',
    '大阪城公園',
    'その他'],
  {include_blank:'全て'},
  value: @search_params[:area], class: "form-control" %>
  <%= submit_tag '検索', class: "btn btn-primary" %>
<% end %>
