<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Stcheck", root_path, id: "logo" %>
    <nav>
      <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse target">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "ライブ一覧", root_path %></li>
          <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= gravatar_for current_user, size: 20 %><%= current_user.name %>さん <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "マイページ", current_user %></li>
                <li><%= link_to "ユーザー編集", edit_user_path(current_user) %></li>
                <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "新規登録", signup_path %></li>
            <li><%= link_to "ログイン", login_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>